<p></p>
<p>Get configuration from JSON file</p>
<div>
  <button (click)="clear(); showConfig()">get</button>
  <button (click)="clear(); showConfigResponse()">getResponse</button>
  <button (click)="clear()">clear</button>
  <button (click)="clear(); makeError()">error</button>
  <p>
  <span *ngIf="config">
    <p></p><p></p>
    <p>Heroes API URL is "{{config.heroesUrl}}"</p>
    <p>Textfile URL is "{{config.textfile}}"</p>
    <div *ngIf="headers">
      Response headers:
      <ul>
        <li *ngFor="let header of headers">{{header}}</li>
      </ul>
    </div>
  </span>
  </p>
</div>