<p><br/></p>
<h3>Heroes</h3>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  <button (click)="search(heroName.value)">
    search
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a>
      <span class="badge">{{ hero.id || -1 }}</span>
      <span>{{hero.name}}</span>
      <button class="delete" title="delete hero" 
      (click)="delete(hero)">x</button>
    </a>
  </li>
</ul>
<app-messages></app-messages>